ADGUARDHOME_ORIGIN_URL=
ADGUARDHOME_ORIGIN_USERNAME=

ADGUARDHOME_REPLICA_URL=
ADGUARDHOME_REPLICA_USERNAME=

ADGUARDHOME_PASSWORD=

#Optional
PUID=
PGID=
TIMEZONE=
ADGUARDHOMESYNC_CONFIG_FOLDER=
ADGUARDHOMESYNC_PORT=
SUBNET_NUMBER=